body {
	background-color: #202124FF;
}

h1 {
	color: #9AA0A6FF;
	text-align: center;
}

h3 {
	color: #9AA0A6FF;
	text-align: center;
}

.ce {
	text-align: center;
}

h2 {
	color: #9AA0A6FF;
	text-align: center;
}

h4 {
	color: #9AA0A6FF;
	text-align: center;
}

h5 {
	color: #9AA0A6FF;
	text-align: center;
}

h6 {
	color: #9AA0A6FF;
	text-align: center;
}